<?xml version="1.0" encoding="UTF-8"?>
<logviewer>
  <log_dir>logdata_root/log</log_dir>
  <db_name>logdb</db_name>
  <users>
    <user>
      <name></name>
      <twitter></twitter>
      <devices>
        <device_name></device_name>
      </devices>
    </user>
    <user>
      <name></name>
      <twitter></twitter>
    </user>
    <user>
      <name></name>
      <twitter></twitter>
    </user>
    <user>
      <name></name>
      <twitter></twitter>
    </user>
    <user>
      <name></name>
      <twitter></twitter>
    </user>
    <user>
      <name></name>
      <twitter></twitter>
    </user>
    <user>
      <name></name>
      <twitter></twitter>
    </user>
    <user>
      <name></name>
      <twitter></twitter>
    </user>
    <user>
      <name></name>
      <twitter></twitter>
    </user>
  </users>
</logviewer>

